@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-primary">Repository Pattern</h1>
    <p class="lead"> is one of the most popular patterns to create an enterprise level application. It restricts us to work directly with the data in the application and creates new layers for database operations, business logic, and the application’s UI......</p>
</div>


<div class="card-deck">
    <div class="card col-md-3">
        <div class="card-body">
            <h5 class="card-title">Core Project</h5>
            <p class="card-text">
               Contains(Class Library):
            </p>
            <small class="text-muted">
                <ul>
                    <li>Domain entities</li>
                    <li>Repository interfaces or database operations interfaces on domain entities</li>
                    <li>Domain-specific data annotations</li>
                </ul>
            </small>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-body">
            <h5 class="card-title">Infra Project</h5>
            <p class="card-text">
                Contains(Class Library):
            </p>
            <small class="text-muted">
                <ul>
                    <li>Database operations</li>
                    <li>Working with WCF and Web Services</li>
                    <li>Implement IProductRepsitory interface</li>
                </ul>
            </small>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-body">
            <h5 class="card-title">Test Project</h5>
            <p class="card-text">
                Contains(Unit Test):
            </p>
            <small class="text-muted">
                <ul>
                    <li>Unit test for Infrastructure Project</li>
                </ul>
            </small>
        </div>
    </div>
    <div class="card col-md-3">
        <div class="card-body">
            <h5 class="card-title">MVC Project</h5>
            <p class="card-text">
                Contains(MVC):
            </p>
            <small class="text-muted">
                <ul class="card-text">
                    <li>MVC based web application using infra and core project library using DI</li>
                </ul>
            </small>
        </div>
    </div>
    
</div>
